body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
    text-align: center;
}

nav {
    background-color: #2c3e50;
    padding: 15px;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
    color: yellow;
}

h1 {
    margin-top: 40px;
    color: #2c3e50;
}


