body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #0a3d62;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background: #1e3799;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 20px;
  background: white;
  margin: 15px;
  border-radius: 5px;
}

footer {
  text-align: center;
  background: #0a3d62;
  color: white;
  padding: 10px;
}



